<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test01.selenium.Example9"/>
      <class name="test01.selenium.Example7"/>
      <class name="test01.selenium.Example8"/>
      <class name="test01.selenium.Example3"/>
      <class name="test01.selenium.Example11"/>
      <class name="test01.selenium.Example10"/>
      <class name="test01.selenium.Example13"/>
      <class name="test01.selenium.Example2"/>
      <class name="test01.selenium.Example12"/>
      <class name="test01.selenium.Example15"/>
      <class name="test01.selenium.Example14"/>
      <class name="test01.selenium.Expample4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
